/**body {
    
}
Aqui tudo que for indicado dentro de "body{}" será aplicável a toda a página.--> **/

#banner {
    width: 100%
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}
/** Aqui tudo que for indicado dentro de "titulo-centralizado{}" será aplicável ao cabeçalho página.--> **/

p {
    text-align: center;
}
/** Aqui tudo que for indicado dentro de "p{}" será aplicável a todos os parágrafos desta página.--> **/

#missao {
    font-size: 20px
}
/**toda vez que se quer referenciar um identificador no CSS, se usa a "#".**/

em strong {
    color: #FF0000
}
/** Aqui tudo que for indicado dentro de "em strong{}" será aplicável a todos os textos em negrito que estão também em itálico da página.--> **/

.itens {
    font-style: italic
}
/** Aqui tudo que for indicado dentro de ".itens{}" será aplicável a todas as classes denominadas "itens" da página.--> **/

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}